:root {

}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  font-family: 'Mulish', 'Courier New', Courier, monospace;
  font-weight: 400;
}

